.graphControls {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr 1fr 4fr 1fr;
	grid-gap: 0.5em;
}

button {
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 0.4em;
	cursor: pointer;
	margin: 0.8em;
}

@media (max-width: 768px) {
	.graphControls {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 480px) {
	.graphControls {
		grid-template-columns: 1fr;
	}
}
